.header {
  margin: 0 auto;
  text-align: center;
  font-family: Roboto;
  border-bottom: 2px solid rgba(0, 0, 0, .05);
}

.logo {
  text-decoration: none;
  color: #222;
  font-weight: 300;
  font-size: 44px;
  letter-spacing: 6px;
}

.subheading {
  font-size: 24px;
  font-weight: 300;
  margin-top: 10px;
  letter-spacing: 5px;
}
